#base
{
    position: relative;
   
 
}
#first
{
    
    position: absolute;
   top:60px;
    

}
.lead
{
    font-family: 'Noto Serif', serif;
    font-family: 'Tangerine', cursive;
   
    color: white;
    
    
}
p{
   
    color:white;
}
#clock
{
font-size: 40px;    
color:white;
font-family: 'Noto Serif', serif;
margin-top:20px;
}